block name
  -name=""

block pageId
  -pageId = name ? name + "-page" : ""

block basePath
  -basePath = ""

block relativePath
  -relativePath = name ? name + "/" : ""

block imgPath
  -imgPathGlobal = basePath + "img/"
  -imgPath = imgPathGlobal + relativePath

block cssIncludes
  -
    cssIncludes = [
      "lib/bootstrap-3.3.5/css/bootstrap.min",
      "main",
    ]

block jsIncludes
  -
    jsIncludes = [
      "lib/jquery-2.1.4/jquery-2.1.4.min",
      "lib/underscore-1.7.0/underscore-1.7.0.min",
      "lib/backbone-1.1.2/backbone-1.1.2.min",

      "js/root",
      "js/util",
      "js/wiring",
      "js/object-manager",

      "js/list",

      "js/models/model",
      "js/models/page-model",

      "js/views/view",
      "js/views/page-view",
    ]

doctype html
html(lang='en')
  block head
    head
      each path in cssIncludes
        link(rel='stylesheet', type='text/css', href='#{basePath}#{path}.css')
      each path in jsIncludes
        script(type='text/javascript', src='#{basePath}#{path}.js')
      block script
  block body
    -bodyAttributes = pageId ? {'id': pageId} : {}
    body&attributes(bodyAttributes)
      block navigationBar
        include navigation-bar.jade

      #content
        block content
